<% if @dash_python == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_mysql'>
        <input class="dashimg" type="image" src="/assets/dash_python_mysql.png" alt="mySQL">
        <p>01 - mySQL</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_python'>
        <input class="dashimg" type="image" src="/assets/dash_python_python.png" alt="Python">
        <p>02 - Python</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_oop'>
        <input class="dashimg" type="image" src="/assets/dash_python_oop.png" alt="Python - Object Oriented Programming (OOP)">
        <p>03 - Python - Object Oriented Programming (OOP)</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_flask'>
        <input class="dashimg" type="image" src="/assets/dash_python_flask.png" alt="Flask">
        <p>04 - Flask</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_pylot'>
        <input class="dashimg" type="image" src="/assets/dash_python_pylot.png" alt="Pylot - Model/View/Controller (MVC)">
        <p>05 - Pylot - Model/View/Controller (MVC)</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_ajax'>
        <input class="dashimg" type="image" src="/assets/dash_python_ajax.png" alt="API and AJAX">
        <p>06 - API and AJAX</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_django'>
        <input class="dashimg" type="image" src="/assets/dash_python_django.png" alt="Django">
        <p>07 - Django</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_deployment'>
        <input class="dashimg" type="image" src="/assets/dash_deployment.png" alt="Deployment">
        <p>08 - Deployment</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_algorithms'>
        <input class="dashimg" type="image" src="/assets/dash_algorithms.png" alt="Algorithms">
        <p>09 - Algorithms</p>
    </form>
  </div>
<% end %>

