<% if @dash_additional_resources == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://ocw.mit.edu/courses/" target="_blank">
      <img class="dashimg" src="/assets/dash_ar_mit.png" alt="MIT OCW">
      <p>OpenCourseWare - MIT</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="http://1m1m.sramanamitra.com/free-public-roundtables/the-1m1m-self-assessment/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>The 1M/1M Self-Assessment</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://www.cbinsights.com/blog/startup-failure-post-mortem/#original" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>204 Start-up Failures</p>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="http://firstround.com/review/What-you-think-you-know-about-mobile-engineering-is-wrong/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>5 Mistakes Start-ups make when building for Mobile</p>
    </a>
  </div>
<% end %>