<% if @dash_web == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_html'>
        <input class="dashimg" type="image" src="/assets/dash_web_html.png" alt="html5">
        <p class="track_title">01 - HTML</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_css'>
        <input class="dashimg" type="image" src="/assets/dash_web_css.png" alt="CSS">
        <p class="track_title">02 - CSS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_jquery'>
        <input class="dashimg" type="image" src="/assets/dash_web_jquery.png" alt="jQuery">
        <p class="track_title">03 - JQUERY</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_github'>
        <input class="dashimg" type="image" src="/assets/dash_web_github.png" alt="GitHub">
        <p class="track_title">04 - GITHUB</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_nextsteps'>
        <input class="dashimg" type="image" src="/assets/dash_web_next_steps.png" alt="Next Steps">
        <p class="track_title">05 - NEXT STEPS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_rwd'>
        <input class="dashimg" type="image" src="/assets/dash_web_rwd.png" alt="Responsive Web Design">
        <p class="track_title">06 - RESPONSIVE WEB DESIGN</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/web_fundamentals_wireframes'>
        <input class="dashimg" type="image" src="/assets/dash_web_wireframe.png" alt="Wireframes">
        <p class="track_title">07 - WIREFRAMES</p>
    </form>
  </div>
<% end %>

