<% if @dash_links == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://tysonmax20042003.wordpress.com/tag/types-of-exploits/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>Types of Exploits</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://exploit-exercises.com/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>Exploit Exercises</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://www.codeeval.com/" target="_blank">
      <img class="dashimg" src="/assets/dash_links_codeeval.png" alt="Code Eval">
      <p>Algorithm Challenges for Jobs - Code Eval</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://www.hackerrank.com/" target="_blank">
      <img class="dashimg" src="/assets/dash_links_hackerrank.png" alt="HackerRank">
      <p>Algorithm Challenges for Jobs - HackerRank</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="http://exercism.io/" target="_blank">
      <img class="dashimg" src="/assets/dash_links_exercism.png" alt="Exercism.io">
      <p>Algorithm Practice - Exercism</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://www.quantopian.com/" target="_blank">
      <img class="dashimg" src="/assets/dash_links_quantopian.png" alt="Quantopian">
      <p>Investment Alogrithms - Quantopian</p>
    </a>
  </div>
<% end %>