<% if @dash_ios == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_swift_intro'>
        <input class="dashimg" type="image" src="/assets/dash_ios_swift.png" alt="INTRODUCTION TO SWIFT">
        <p>01 - INTRODUCTION TO SWIFT</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_swift_interim'>
        <input class="dashimg" type="image" src="/assets/dash_ios_swift.png" alt="SWIFT INTERIM">
        <p>02 - SWIFT INTERIM</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_swift_advance'>
        <input class="dashimg" type="image" src="/assets/dash_ios_swift.png" alt="SWIFT ADVANCE">
        <p>03 - SWIFT ADVANCE</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_ios_intro'>
        <input class="dashimg" type="image" src="/assets/dash_ios_ios.png" alt="INTRODUCTION TO iOS">
        <p>04 - INTRODUCTION TO iOS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_ios_interim'>
        <input class="dashimg" type="image" src="/assets/dash_ios_ios.png" alt="INTERIM iOS">
        <p>05 - INTERIM iOS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_rails1'>
        <input class="dashimg" type="image" src="/assets/dash_ruby_rails.png" alt="iOS RAILS 1">
        <p>06 - iOS RAILS 1</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_active record'>
        <input class="dashimg" type="image" src="/assets/dash_ios_active_record.png" alt="iOS ACTIVE RECORD">
        <p>07 - iOS ACTIVE RECORD</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_rails2'>
        <input class="dashimg" type="image" src="/assets/dash_ruby_rails.png" alt="iOS RAILS 2">
        <p>08 - iOS RAILS 2</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_mean'>
        <input class="dashimg" type="image" src="/assets/dash_mean_mean.png" alt="iOS MEAN">
        <p>09 - iOS MEAN</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_osx_intro'>
        <input class="dashimg" type="image" src="/assets/dash_ios_osx.png" alt="INTRODUCTION TO OSX">
        <p>10 - INTRODUCTION TO OSX</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_framework'>
        <input class="dashimg" type="image" src="/assets/dash_ios_framework.png" alt="iOS FRAMEWORKS">
        <p>11 - iOS FRAMEWORKS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_app_store'>
        <input class="dashimg" type="image" src="/assets/dash_ios_app_store.png" alt="iOS APP STORE">
        <p>12 - iOS APP STORE</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/ios_algorithms'>
        <input class="dashimg" type="image" src="/assets/dash_algorithms.png" alt="ALGORITHMS">
        <p>13 - ALGORITHMS</p>
    </form>
  </div>
<% end %>