<% if @dash_browse == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <%= image_submit_tag("/assets/machined_part.png", class: 'dashimg', alt: '#') %>
        <p>Machined Parts</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/plastics.png" alt="#">
        <p>Plastics</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/software.png" alt="#">
        <p>Software Solutions</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/process.png" alt="#">
        <p>Special Processing</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/python_pylot'>
        <input class="dashimg" type="image" src="/assets/packaging.png" alt="#">
        <p>Packaging and Labelling</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/electrical_part.png" alt="#">
        <p>Electronics</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/computer_part.png" alt="#">
        <p>Computer Hardware</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/chemicals.png" alt="#">
        <p>Chemicals</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/bin_stock.png" alt="#">
        <p>Bin Stock Items and Consumables</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/adhesive_tape.png" alt="#">
        <p>Adhesives and Tape</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='#'>
        <input class="dashimg" type="image" src="/assets/raw_material.png" alt="#">
        <p>Raw Materials</p>
    </form>
  </div>
<% end %>