<% if @dash_job == true %>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_algorithms'>
        <input class="dashimg" type="image" src="/assets/dash_algorithms.png" alt="ALGORITHMS">
        <p>01 - ALGORITHMS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_search'>
        <input class="dashimg" type="image" src="/assets/dash_job_search.png" alt="JOB SEARCH">
        <p>02 - JOB SEARCH</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_resume_writing'>
        <input class="dashimg" type="image" src="/assets/dash_job_resume.png" alt="RESUME WRITING">
        <p>03 - RESUME WRITING</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_linkedin'>
        <input class="dashimg" type="image" src="/assets/dash_job_linkedin.png" alt="LINKEDIN">
        <p>04 - LINKEDIN</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_advanced_search'>
        <input class="dashimg" type="image" src="/assets/dash_job_search.png" alt="ADVANCED JOB SEARCH">
        <p>05 - ADVANCED JOB SEARCH</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_cover_letters'>
        <input class="dashimg" type="image" src="/assets/dash_job_resume.png" alt="COVER LETTERS">
        <p>06 - COVER LETTERS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_networking'>
        <input class="dashimg" type="image" src="/assets/dash_job_networking.png" alt="PROFESSIONAL NETWORKING">
        <p>07 - PROFESSIONAL NETWORKING</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_recruiters'>
        <input class="dashimg" type="image" src="/assets/dash_job_recruiting.png" alt="RECRUITERS">
        <p>08 - RECRUITERS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_interview_prep'>
        <input class="dashimg" type="image" src="/assets/dash_job_interview.png" alt="INTERVIEW PREPARATION">
        <p>09 - INTERVIEW PREPARATION</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_pay_negotiation'>
        <input class="dashimg" type="image" src="/assets/dash_job_pay.png" alt="PAY NEGOTIATION">
        <p>10 - PAY NEGOTIATIONS</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_portfolio'>
        <input class="dashimg" type="image" src="/assets/dash_job_portfolio.png" alt="PORTFOLIO">
        <p>11 - PORTFOLIO</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <form action='/job_imposter_syndrome'>
        <input class="dashimg" type="image" src="/assets/dash_job_imposter.png" alt="IMPOSTER SYNDROME">
        <p>12 - IMPOSTER SYNDROME</p>
    </form>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="http://www.daedtech.com/defining-the-corporate-hierarchy/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>13 - Defining The Corporate Hierarchy</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="http://www.daedtech.com/notes-on-job-hopping-you-should-probably-job-hop/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>14 - Notes on Job Hopping:  You should probably job hop</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="http://www.daedtech.com/salary-negotiations-win-by-losing/" target="_blank">
      <img class="dashimg" src="/assets/dash_article.png" alt="Article">
      <p>15 - Salary Negotiations: Win by Losing</p>
    </a>
  </div>
  <div class="w3-card-12 w3-hover-shadow box_size">
    <a href="https://www.jobscan.co/" target="_blank">
      <img class="dashimg" src="/assets/dash_job_jobscan.png" alt="Job Scan">
      <p>16 - Resume Keyword Check - Job Scan</p>
    </a>
  </div>
<% end %>

