<!DOCTYPE html>
<html lang="en" media="screen">

<head>
  <%= stylesheet_link_tag "new_theme", :media => "all" %>
</head>

<body>
  <div id="new_container">
    <div class="new_nav">
    </div>
    <div class="new_sidebar">
    </div>
    <div class="new_content">
    </div>
  </div>
</body>  

</html>



