// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//GENERAL HTML CSS
* {
	margin: 0em;
	padding: 0em;
}

//BODY - MASTER CONTAINER
#container {
	min-width: 32em;
	max-width: 100%;
	height: auto;
	margin: 0.25em 0.25em 0.25em 0.25em;
	vertical-align: middle;
	display: block;
	overflow: auto;
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
}
	
//////BODY - CONTENT CONTAINER
	.nav {
		width: 100%;
		height: auto;
		margin: 0em 0.625em 0em 0.625em;
		vertical-align: left;
		display: block;
		overflow: auto;
		background-color: #fff;
	}

	li:hover {
		box-shadow: 0em 0em 1.25em rgba(61, 61, 61, 0.77);
		cursor: crosshair;
	}

	.box_size {
		width: 18em;
		height: 20em;
		margin: 1em 0.625em 1em 0.625em;
		padding: 0.5em 0.5em 0.5em 0.5em;
		vertical-align: bottom;
		display: inline-block;
		position: relative;
		overflow: auto;
		background-color: #fff;
	}

	p {
		text-align: center;
		position : absolute;
   		bottom : 0em;	
	}

	.dashimg {
		width: 15em;
		height: 15em;
		margin: 1em 1em 1em 1em;
		padding: 0.25em 0.25em 0.25em 0.25em;
		vertical-align: top;
		text-align: center;
		display: inline-block;
		position: relative;
		overflow: auto;
	}

	.soup_content {
		width: 75%;
		height: auto;
		margin: 0.625em 0.625em 0.625em 0.625em;
		padding: 4em 1em 1em 1em;
		vertical-align: middle;
		display: inline-block;
		position: relative;
		overflow: auto;
		background-color: #fff;
		border-radius: 0.250em;
		-webkit-transition: border .2s ease-in-out;
		   -o-transition: border .2s ease-in-out;
		      transition: border .2s ease-in-out;
	}

//////BODY - SIDEBAR
	@media screen and (max-width: 350em) and (min-width: 31.250em) {
		.sidebar {
			min-width: 12.5em;
			max-width: 100%;
			height: auto;
			margin: 3.5em 0.625em 0.5em 0.625em;
			padding: 0.25em 0.25em 0.25em 0.25em;
			vertical-align: top;
			display: inline-block;
			position: relative;
			overflow: auto;
			background-color: #fff;
		}
		.hidden_container {
			display: none;
		}

		input {
		    min-width: 12em;
		    max-width: 100%;
		    border: none;
		    padding: 1em 2em 1em 2em;
		    text-decoration: none;
		    margin: 0.250em 0.125em 0.250em 0.125em;
		    cursor: pointer;
		}

		input:hover {
			box-shadow: 0em 0em 1.25em rgba(96, 103, 123, 0.34);
			border: 0em none rgba(96, 103, 123, 0.34);
		}
	}

//////HAMBURGER MENU
	@media screen and (max-width: 30em) and (min-width: 0em) {
    	
    	li.active {
    		display: none;
    	}

		.hamburger_menu {
		    display: inline-block;
		    cursor: pointer;
		    padding: 0em 0em 0.250em 0em;
		    margin: 0.250em 0.250em 0.250em 0.250em;
		}

		.bar1, .bar2, .bar3 {
		    width: 2.188em;
		    height: 0.313em;
		    background-color: #333;
		    margin: 0.375em 0em;
		    transition: 0.4s;
		}

		/* Rotate first bar */
		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
		    transform: rotate(-45deg) translate(-9px, 6px) ;
		}

		/* Fade out the second bar */
		.change .bar2 {
		    opacity: 0;
		}

		/* Rotate last bar */
		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
		    transform: rotate(45deg) translate(-8px, -8px) ;
		}

		//////BODY - SIDEBAR
		.sidebar {
			display: none;
		}
		.hidden_container {
			display: none;
		}
		.sidebar_rwd {
			min-width: 12.5em;
			max-width: 100%;
			height: auto;
			margin: 3.5em 0.625em 0.5em 0.625em;
			padding: 0.25em 0.25em 0.25em 0.25em;
			vertical-align: top;
			display: inline-block;
			position: relative;
			overflow: auto;
			background-color: #fff;
		}

		input {
		    min-width: 12em;
		    max-width: 100%;
		    border: none;
		    padding: 1em 2em 1em 2em;
		    text-decoration: none;
		    margin: 0.250em 0.125em 0.250em 0.125em;
		    cursor: pointer;
		}

		input:hover {
			box-shadow: 0em 0em 1.25em rgba(96, 103, 123, 0.34);
			border: 0em none rgba(96, 103, 123, 0.34);
		}
	}